body{
    margin: 0;
    border: 1px solid black;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
     color: black;

}
.navbar ul{
    list-style-type: none;
    background-color: rgb(8, 244, 244);
    padding: 15px;
    margin:0;
    border: 1px solid black;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    /* border: 1px solid red;  */
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color:rgb(32, 213, 213);
}
.navbar li{
    float: inline-start;
    font-size: x-large;
}
h2{
    border: 1px solid green;
    background-color: rgb(177, 243, 161);
     margin-left: 19px;
    margin-right: 1400px;
}
